$borderRadius : 5px;
$space : 10px;

/*
*menu 颜色和宽高
*/

$menuBgColor:#0d161e;
$menuFontColor:rgba(255,255,255,.7);
$menuWidth:240px;
$menuiTemHeight:71px;
$menuFontSize:15px;
$paddingLeft:30px;
$activeColor:#fff;
$activeBg:#0080cc;
$itemPaddingLeft:50px;

/*
*header 数值
*/

$headerBgColor:#d9dce5;
$headerFontColor:rgba(255,255,255,.7);
$headerHeight:88px;
$headerFontSize:22px;

